<h1>Trips</h1>
<ul class="nav nav-pills mb-3 d-flex" id="trip-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="map-tab" data-toggle="pill" href="#map" role="tab" aria-controls="pills-map" aria-selected="true">
      <i class="fas fa-globe"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-list-tab" data-toggle="pill" href="#list" role="tab" aria-controls="pills-list" aria-selected="false">
      <i class="fas fa-th-list"></i>
    </a>
  </li>
  <li class="nav-item ml-auto">
    <%= link_to new_trip_path, class: "nav-link" do %>
      Add Trip
      <i class="fas fa-plus-square"></i>
    <% end %>
  </li>
</ul>

<% points = @trips.flat_map { |trip| trip.points } %>

<div class="tab-content" id="trip-tabContent">
  <div class="tab-pane fade show active" id="map" role="tabpanel" aria-labelledby="map-tab">
    <% if points.any? %>
      <%= react_component("Map", points: points, center: [-98.2518834, 39.8112442], zoom: 1) %>
    <% else %>
      Add some places to see a map!
    <% end %>
  </div>
  <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="pills-list-tab">
    <% @trips.select { |trip| trip.start_date.present? }
             .group_by(&:start_date).sort.reverse.to_h.each do |date, trips| %>
      <h3><%= date.strftime("%B %Y") %></h3>
      <%= render partial: "list_group", locals: { models: trips } %>
      <br />
    <% end %>
    <% if @trips.select { |trip| trip.start_date.nil? }.any? %>
      <h3>Trips without dates</h3>
      <%= render partial: "list_group", locals: { models: @trips.select { |trip| trip.start_date.nil? } } %>
    <% end %>
  </div>
</div>
