<ul class="nav nav-pills">
  <li class="nav-item">
    <%= link_to new_trip_path, class: "nav-link active" do %>
      Trips <i class="fas fa-plus-circle"></i>
    <% end %>
  </li>
</ul>

<br>

<div class="list-group">
  <% @trips.group_by(&:start_date).each do |date, trips| %>
    <h3><%= date.strftime("%B %Y") %></h3>
    <% trips.each do |trip| %>
      <%= link_to trip, class: "list-group-item list-group-item-action flex-column align-items-start" do %>
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= trip.title %></h5>
          <small>
            <%= [trip.start_date&.strftime("%b %e, %Y"), trip.end_date&.strftime("%b %e, %Y")].compact.join(' - ') %>
          </small>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
