<h1 class="display-4">
  <%= @trip.title %>
  <small>
    <%= link_to "Edit", edit_trip_path(@trip), class: "btn btn-primary btn-sm" %>
    <%= link_to "Add Place", new_trip_place_path(@trip), class: "btn btn-secondary btn-sm" %>
  </small>
</h1>

<p class="lead">
  <%= [@trip.start_date&.strftime("%b %e, %Y"), @trip.end_date&.strftime("%b %e, %Y")].compact.join(' - ') %>
</p>

<% @trip.places.where.not(start_date: nil).group_by(&:start_date).each do |date, places| %>
  <h5><%= date.strftime("%b %e, %Y") %></h5>
  <div class="card-deck">
    <% places.each do |place| %>
      <p><%= link_to "Place #{place.id}", place_path(place) %></p>
    <% end %>
  </div>
  <br>
<% end %>

<hr>
<div class="card-deck">
  <ul class="list-group">
    <% @trip.places.where(start_date: nil).each do |place| %>
    <li class="list-group-item">
      <%= link_to "Place #{place.id}", place_path(place) %>
    </li>
    <% end %>
  </ul>



</div>
