<h1 class="display-4">
  <%= @trip.title %>
  <small>
    <%= link_to "Edit", edit_trip_path(@trip), class: "btn btn-primary btn-sm" %>
  </small>
</h1>

<p class="lead">
  <%= @trip.start_date.strftime("%b %e, %Y") %> - <%= @trip.end_date.strftime("%b %e, %Y") %>
</p>


<% @trip.place_ids.each do |id| %>
  <%= react_component("Place", { id: id }) %>
<% end %>
