<div class="d-flex flex-wrap justify-content-between">
  <h4>
    <%= @trip.title %>
    <%= link_to edit_trip_path(@trip), class: "small" do %>
      <i class="fas fa-edit"></i>
    <% end %>
  </h4>
  <h6 class="py-2">
    <%= [@trip.start_date&.strftime("%b %e, %Y"), @trip.end_date&.strftime("%b %e, %Y")].compact.join(' - ') %>
  </h6>
</div>

<ul class="nav nav-pills mb-3 d-flex" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-map-tab" data-toggle="pill" href="#pills-map" role="tab" aria-controls="pills-home" aria-selected="true">
      <i class="fas fa-globe"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-list-tab" data-toggle="pill" href="#pills-list" role="tab" aria-controls="pills-profile" aria-selected="false">
      <i class="fas fa-th-list"></i>
    </a>
  </li>
  <li class="nav-item ml-auto">
    <%= link_to new_trip_place_path(@trip), class: "nav-link" do %>
      Add Place
      <i class="fas fa-plus-square"></i>
    <% end %>
  </li>
</ul>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-map" role="tabpanel" aria-labelledby="pills-home-tab">
    <%= react_component("Map", points: @trip.points, center: @trip.center) %>
  </div>
  <div class="tab-pane fade" id="pills-list" role="tabpanel" aria-labelledby="pills-profile-tab">
    <% @trip.places.where.not(start_date: nil)
                        .order(start_date: :asc)
                        .group_by(&:start_date).each do |date, places| %>

      <h5><%= date.strftime("%b %e, %Y") %></h5>
      <%= render partial: "list_group", locals: { models: places } %>
      <br>
    <% end %>

    <% if @trip.places.where(start_date: nil).any? %>
      <hr>
      <%= render partial: "list_group", locals: { models: @trip.places.where(start_date: nil) } %>
    <% end %>
  </div>
</div>
