<h1 class="display-4">
  <%= @trip.title %>
  <small>
    <%= link_to "Edit", edit_trip_path(@trip), class: "btn btn-primary btn-sm" %>
    <%= link_to "Add Place", new_trip_place_path(@trip), class: "btn btn-secondary btn-sm" %>
  </small>
</h1>

<p class="lead">
  <%= [@trip.start_date&.strftime("%b %e, %Y"), @trip.end_date&.strftime("%b %e, %Y")].compact.join(' - ') %>
</p>

<% @trip.places.where.not(start_date: nil)
                     .order(start_date: :asc)
                     .group_by(&:start_date).each do |date, places| %>

  <h5><%= date.strftime("%b %e, %Y") %></h5>
  <%= render partial: "list_group", locals: { models: places } %>
  <br>
<% end %>

<% if @trip.places.where(start_date: nil).any? %>
  <hr>
  <%= render partial: "list_group", locals: { models: @trip.places.where(start_date: nil) } %>
<% end %>
