<%= form_with(model: [trip, place], local: true) do |form| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-6 col-lg-6 col-sm-12">
      <%= form.label :start_date, "Start Date" %>
      <%= form.date_field :start_date, class: "form-control" %>
    </div>

    <div class="form-group col-md-6 col-lg-6 col-sm-12">
      <%= form.label :end_date, "End Date" %>
      <%= form.date_field :end_date, class: "form-control" %>
    </div>
  </div>

  <div>
    <%= form.hidden_field :note, class: "form-control", id: "place_note" %>
    <trix-editor input="place_note"></trix-editor>
  </div>
  <br>
  <div>
    <div class="actions form-group">
      <%= form.submit class: "btn btn-primary form-control" %>
    </div>
  </div>
<% end %>
