
<h1 class="display-3">
  <%= @details.dig("result", "name") %>
  <%= link_to "Edit", edit_place_path, class: "btn btn-primary" %>
</h1>

<p class="lead">
  <%= raw @details.dig("result", "adr_address") %>
  [<%= link_to "Google Maps", @details.dig("result", "url"), target: :_blank %>]
</p>

<%= raw @place.note %>
