<!DOCTYPE html>
<html>
  <head>
    <title>Travel</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="container app">
      <div class="notice-container">
        <%- if notice -%>
          <div data-dismiss="alert" class="alert alert-primary alert-dismissble fade show" role="alert">
            <%= notice %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <%- end -%>
      </div>
      <div class="alert-container">
        <%- if alert -%>
          <%= render 'shared/dismissable_alert', message: alert %>
        <%- end -%>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
