<!DOCTYPE html>
<html>
  <head>
    <title>Travel</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV["GOOGLE_PLACES_API_KEY"]}&v=3.exp&libraries=places,geometry,drawing" %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="container app">
      <%- if notice -%>
        <div class="alert alert-primary">
          <%= notice %>
        </div>
      <%- end -%>

      <%- if alert -%>
        <div data-dismiss="alert" class="alert-danger alert alert-dismissible fade show" role="alert">
          <%= alert %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <%- end -%>
      <%= yield %>
    </div>
  </body>
</html>
